.education {
  background: url(./assets/bg4.png);
  padding: 10.25rem 0rem 1.25rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 47.9375rem) {
  .education {
    padding: 12.25rem 3.75rem;
  }
}

.edu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  float: right;
}
@media (max-width: 768px) {
  .edus{
    display: none;
  }

 
}
